.Map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.Control-container {
  background-color: white;
  position: fixed;
  z-index: 1;
  height: 40px;
}

.Licence-field {
  width: 200px;
  margin: 5px;
  margin-left: 10px;
  height: 25px;
}

.Poi-field {
  width: 120px;
  margin: 5px;
  height: 31px;
}

.Radius-field {
  width: 120px;
  margin: 5px;
  height: 31px;
}

.Apply-button {
  background-color: lightblue;
  border-width: 1px;
  color: white;
  border-color: black;
  width: 75px;
  margin: 5px;
  height: 31px;
  margin-right: 10px;
}